<center>
<h2>Your password has been reset</h2>
<table style="background-color: white; color: #333; padding: 15px; margin 15px;box-shadow: 0 1px 1px rgba(0,0,0,0.08),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.16),0 8px 8px rgba(0,0,0,0.2)">
	<thead>
		<tr>
			<th style="text-align: center;" scope="col" colspan=2>New Account Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th style="text-align: left;" scope="row">Login</th>
			<td style="text-align: right;"><b>{{email}}</b></td>
		</tr>
		<tr>
			<th style="text-align: left;" scope="row">Password</th>
			<td style="text-align: right;"><b>{{password}}</b></td>
		</tr>
	</tbody>
</table>
</center>