.star-rating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}
.star-rating .on {
    color: #ffd700;
}
.star-rating .off {
    color: #808080;
}
.star-rating .star {
    font-size: 25px;
}